/* 前提 */

body{
    margin: 0;
    padding: 0;
  }
  
  /* 全画面表示CSS */
  
  .hero {
    height: 100vh; /* 全画面表示 */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-image: 'image.jpg';
  }